@import 'variables.scss';
:host{
  #home{
    background-color: $app-background;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    app-button-circle{
      position: absolute;
      bottom:25px;
    }
  }
}